################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Eshop/.vs/Eshop/v15
/Eshop/Eshop/obj/Debug
/Eshop/Eshop/bin/Debug
/.vs
